{% extends 'dummy.html' %}
    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>
<body>
    {% block body_block %}
    <center>
        <h1>login page</h1>
    </center>
<!-- <div class="containder">
        <div class="logo">
            <h1>iBOMMA</h1>
        </div>
        <div class="navlinks">
            <a href="#"><i class="fas fa-house">Home</a></i>
            <a href="#">About</a>
            <a href="#">Bug</a>
        </div>
        <div class="search">
            <input type="text" name="search" id="search">
            <label for="search"><button>search</button></label>
        </div>
    </div> -->





    {% endblock %}
</body>
</html>