{% extends 'dummy.html' %}


    {% block title %}
    <title>main</title>
    
   <style>
    body{
        height: 100vh;
        width: 100vw;
        background-image: url(https://w0.peakpx.com/wallpaper/41/1011/HD-wallpaper-film-electronic-movie-equipment.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    *{
      padding: 0px;
      margin: 0px;
    }
    .search{
      float: right;
      padding-right: 100px;
     
    }
    a{
      font-size: 20px;
      font-family: Arial;
      margin-right: 100px;
      padding: 0px;
      text-decoration: none;
    }
    input{
      width: 299px;
      height: 36px;
      border-radius: 5px;
      
    }
    
    .form-control rounded{
      float: right;
    }
    a{
      padding-right: 50px;
    }
    .navbar{
      background-color: black;
      display: flex;
      flex-direction: row;
      padding: 20px;

    }
    
    .container-fluid{
        padding: 20px;
        background-color: hsl(0, 90%, 8%);
       
    }
    .navbar-brand{
        color: greenyellow;
        font-size: 30px;
        font-weight: bold;
    }
    .logo{
        color: greenyellow;
        font-family: Arial;
        font-weight: bold;
    }
    h1{
      color: white;
      text-align: center;
      margin: 20px;
      padding-top: 40px;
      font-weight: bold;
      
    }
    p{
      color: white;
      text-align: center;
      
    }
    .mahi{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 19px;
      padding: 25px;
      
    }
    .card{
      width: 250px;
      height: 400px;
      padding: 25px;
    }
    span{
      font-size: 15px;
      font-family: Arial;
      font-weight: bold;
    }
    button{
      color: greenyellow;
      background-color: black;
    }
    img{
      width: 250px;
      height: 400px;
    }
    .cardcontainer{
      width: 200vh;
      height: 100vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      padding: 25px;
      display: grid;
      grid-template-columns: repeat(auto-fill,300px);
    }
    
    img{
      border-radius: 10px;
    }
    .text{
      width: 1000px;
      height: 200px;
      border: 2px solid red;
      margin: 150px;
      text-align: center;
      background-color: aqua;
      background-color: transparent;
      border-radius: 15px;
      
      
    }
    h1{
      
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial;
      
    }
    h4{
      text-align: center;
      font-size: 14px;
    }
    label{
      
      color: white  ;
      background-color: blue;
      
    }

   
   </style>

    {% endblock %}
</head>
<body>
    

    {% block body_block %}


    

    <nav class="navbar ">
        <div class="container">
          <a class="navbar-brand" href="http://127.0.0.1:8000/main/#">iBOMMA</a>
          

          <form class="search">
            <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Bug</a>
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
            />
            
          </form>
        </div>
      </nav>
      <h1 class="main">Where Quality & Clarity Matters</h1>
      <p>Watch Telugu Movies in HD, exclusively available on iBOMMA.COM Developed for smartphones,tablets and PCs. </p>
      

    <div class="cardcontainer">
    <div class="card">
      <a href="#"><img src="https://m.media-amazon.com/images/M/MV5BZjg2OTJkY2QtMWIzYS00OGFhLWI3YTgtYTA5MWRhMjdhZDk3XkEyXkFqcGdeQXVyMTY0NjI3Mjcx._V1_.jpg"  alt="Fissure in Sandstone"/></a>
      <a href="#"><span class="context" style="color: white;">I Love You</span></a>
                          <button>2022</button>
      <!-- <div class="card-body"> -->
        <!-- <h5 class="card-title">v</h5> -->
        
        
      </div>
    
    <div class="card">
      <a href="https://ww3.ibomma.link/te-a1cwn/i-love-you-2023-r4vbc-telugu-movie-watch-online.html"><img src="https://ww1.todaypk.pro/uploads/Nagumomu-Chalule-Telugu.jpg" alt="Fissure in Sandstone"/></a>
      <a href="https://ww3.ibomma.link/te-a1cwn/i-love-you-2023-r4vbc-telugu-movie-watch-online.html"><span class="context" style="color: white;">Nagumomu-Chaalu ley</span></a>
      <button>2022</button>
      <!-- <div class="card-body"> -->
        <!-- <h5 class="card-title">v</h5> -->
        
        
      </div>
      <div class="card">
        <img src="https://m.media-amazon.com/images/M/MV5BYjBiMTlmNjQtOGVhNC00OTEwLTlkMGItOWUzZTE0ZGE4MTIyXkEyXkFqcGdeQXVyNDA0Mjc1NDc@._V1_.jpg" alt="Fissure in Sandstone"/>
        <a href="https://ww3.ibomma.link/te-a1cwn/annapurna-photo-studio-fd5tc-telugu-movie-watch-online.html"><span class="context" style="color: white;">Annapuran Photo studio</span></a>
      <button>2022</button>
        
        <!-- <div class="card-body"> -->
          <!-- <h5 class="card-title">v</h5> -->
          
          
        </div>
        <div class="card">
          <img src="https://m.media-amazon.com/images/M/MV5BMjMwMmU4ZTktMjVkZi00NTQ5LTg2ZjQtZGU2YzA5MWJkMWViXkEyXkFqcGdeQXVyMTQ3Mzk2MDg4._V1_FMjpg_UX1000_.jpg" alt="Fissure in Sandstone"/>
          <a href="#"><span class="context" style="color: white;">Por Thozhil</span></a>
                          <button>2022</button>
          <!-- <div class="card-body"> -->
            <!-- <h5 class="card-title">v</h5> -->
            
            
          </div>
          <div class="card">
            <img src="https://www.nowrunning.com/content/movie/2022/padmi-26467/Stills/padmini_02_2023331.jpg" alt="Fissure in Sandstone"/>
            <a href="#"><span class="context" style="color: white;">Padmini</span></a>
                          <button>2022</button>
            <!-- <div class="card-body"> -->
              <!-- <h5 class="card-title">v</h5> -->
              
              
            </div>
            <div class="card">
              <img src="https://moviegalleri.net/wp-content/uploads/2022/07/Sivakarthikeyan-Maaveeran-Movie-First-Look-HD-Poster.jpg" alt="Fissure in Sandstone"/>
              <a href="#"><span class="context" style="color: white;">Mahaveerudu</span></a>
                          <button>2022</button>
              <!-- <div class="card-body"> -->
                <!-- <h5 class="card-title">v</h5> -->
                
                
              </div>
              <div class="card">
                <img src="https://m.media-amazon.com/images/M/MV5BNThjYTYwYTQtZjViZi00YzZjLTg0YzUtNDZmYzIzMmU1MmNhXkEyXkFqcGdeQXVyMTE0MTY2Mzk2._V1_.jpg" alt="Fissure in Sandstone"/>
                <a href=""><span class="context" style="color: white;">Adhipurush</span></a>
                          <button>2022</button>
                
                <!-- <div class="card-body"> -->
                  <!-- <h5 class="card-title">v</h5> -->
                  
                  
                </div>
                <div class="card">
                  <img src="https://assetscdn1.paytm.com/images/cinema/Hidimbha--705x750-fd127220-2467-11ee-a61c-31a377cce2ed.jpg" alt="Fissure in Sandstone"/>
                  <a href=""><span class="context" style="color: white;">Hidimbha</span></a>
                          <button>2022</button>
                  <!-- <div class="card-body"> -->
                    <!-- <h5 class="card-title">v</h5> -->
                    
                    
                  </div>
                  <div class="card">
                    <img src="https://www.keralatv.in/media/2023/08/Neymar-OTT-Date.jpg" alt="Fissure in Sandstone"/>
                    <a href=""><span class="context" style="color: white;">Neymar</span></a>
                          <button>2022</button>
                    <!-- <div class="card-body"> -->
                      <!-- <h5 class="card-title">v</h5> -->
                      
                      
                    </div>
                    <div class="card">
                      <img src="https://otttamilan.com/wp-content/uploads/2023/05/Pareshan-Ott-Release-Date.jpg" alt="Fissure in Sandstone"/>
                      <a href=""><span class="context" style="color: white;">Pareshan</span></a>
                          <button>2022</button>
                      <!-- <div class="card-body"> -->
                        <!-- <h5 class="card-title">v</h5> -->
                        
                        
                        
                      </div>
                      <div class="card">
                        <img src="https://goldandhra.com/wp-content/uploads/2023/07/Disappointing-Narration-Mars-Sri-Simha-Koduri-Crime-Comedy-Bhaag-Saale.jpg" alt="Fissure in Sandstone"/>
                        <a href=""><span class="context" style="color: white;">baaga shale</span></a>
                          <button>2022</button>
                        <!-- <div class="card-body"> -->
                          <!-- <h5 class="card-title">v</h5> -->
                          
                          
                          
                        </div>
                        <div class="card">
                          
                          <a href="#!"><img src="https://goldandhra.com/wp-content/uploads/2023/07/Naga-Shauryas-Rangabali-Censor-Formalities-Wrapped-Up.jpeg" alt="Fissure in Sandstone"/></a>
                          <a href=""><span class="context" style="color: white;">Rangabhali</span></a>
                          <button>2022</button>
                          <!-- <div class="card-body"> -->
                            <!-- <h5 class="card-title">v</h5> -->
                            
                            </a>
                            
                          </div>
        
    
  </div>
  <div class="text">
    <h1>Looking for More Movies? Use Our Search</h1>
    <h4>Thounds of movies in our database & still adding </h4>
    <br>
    <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" placeholder="search.." />
        <label class="form-label" for="form1">Search</label>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>

  </div>
    {% endblock %}
</body>
</html>